/*=========================================
=            Reset ccm.app.css            =
=========================================*/
body .ccm-ui div#ccm-logo{display: none!important;}

.site-wrapper .ccm-ui input,
.site-wrapper .ccm-ui textarea,
.site-wrapper .ccm-ui select,
.site-wrapper .ccm-ui .uneditable-input{width: 100%;height: auto;}

.ccm-ui .btn#btn-fb-login{
		background-color: #4267b2;
		padding: 15px 20px 15px 50px;
		font-size: 18px;
		display: block;
		width: 100%;
		color: #FFF;
		position: relative;
		-webkit-transition: all 0.25s linear;
		-moz-transition: all 0.25s linear;
		transition: all 0.25s linear;
}
.ccm-ui .btn#btn-fb-login:hover,
.ccm-ui .btn#btn-fb-login:focus{
	opacity: 0.75;
	filter: opacity(75);
	outline: 0;
}
.ccm-ui .btn#btn-fb-login > i{
	font-size: 22px;
	float: left;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	line-height: 50px;
	border-right: 1px solid rgba(255, 255, 255, 0.35);
	width: 45px;
}

.form-register{width: 320px;margin-right: auto;margin-left: auto}
/*.form-signin{margin: 30px auto;width: 300px;font-size: 14px;}
.form-signin .form-group{margin-bottom: 0;}
.form-signin .checkbox {margin-bottom: 15px;padding-left: 0;font-weight: normal;}
.form-signin .form-control {position: relative;height: auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 10px;font-size: 16px;}
.form-signin .form-control:focus {z-index: 2;}
.form-signin input[type="email"],
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin textarea{width: 100%;}
.form-signin input[type="text"] {border-bottom-left-radius: 0;border-bottom-right-radius: 0;border-bottom: 0;}
.form-signin input[type="password"] {margin-bottom: 10px;border-top-left-radius: 0;	border-top-right-radius: 0;}
.form-signin .action{margin-bottom: 20px;}*/

.ccm-ui input,
.ccm-ui textarea,
.ccm-ui select,
.ccm-ui .uneditable-input{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: rgb(85, 85, 85);
	background-color: rgb(255, 255, 255);
	background-image: none;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.ccm-ui form {margin: 0;}
.ccm-ui a{color: #16a085;}
.ccm-ui a:hover{color: #1abc9c;}
.ccm-ui{height: 100%;width: 100%;}
.ccm-ui > .container{width: 100%!important;height: 100%;padding: 0;margin:0;}
.ccm-ui > .container > .row {margin-left: -15px;position: absolute;width: 50%;left: 25%;top: 10%;z-index: 1;}
.ccm-ui > .container > .row > div{margin: 0;float: none;}
.ccm-ui .span10 {width: 100%;}
.ccm-ui .row {margin-left: -15px;}
.ccm-ui .btn{background-image: none;border: none;box-shadow: none;color: #fff;text-shadow: none;font-size: 14px;}
.ccm-ui .btn-success {background-image: none;box-shadow: none;border: 0;text-shadow: none;padding: 7px 19px;font-size: 17px;line-height: 1.471;border-radius: 6px;font-weight: normal;-webkit-transition: opacity 1s linear;-moz-transition: opacity 1s linear;-ms-transition: opacity 1s linear;-o-transition: opacity 1s linear;transition: opacity 1s linear;}
.ccm-ui .btn:hover{color: #fff;}
.ccm-ui [class^="icon-"], .ccm-ui [class*=" icon-"]{background-image: none;}
.ccm-ui .page-header {margin: 0 0 20px;}


/*=====  End of Reset ccm.app.css  ======*/

/*
 * Base structure
 */
html,
body{height: 100%;}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {display: table;width: 100%;height: 100%;min-height: 100%;background: url(/themes/niyaysociety/img/bg_login.png) center center;-webkit-background-size: cover;background-size: cover;-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);box-shadow: inset 0 0 100px rgba(0,0,0,.5);}
.site-wrapper-inner {display: table-cell;vertical-align: top;}
.cover-container {margin-right: auto;margin-left: auto;}


/* Padding for spacing */
.inner {padding: 30px;}


/*
 * Cover
 */

.cover {padding: 0 20px;}
.cover .btn-lg {padding: 10px 20px;font-weight: normal;font-size: 16p;}


/*
 * Footer
 */

.mastfoot {color: #999; /* IE8 proofing */color: rgba(255,255,255,.5);}


/*
 * Affix and center
 */

@media (min-width: 768px) {
	/* Pull out the header and footer */
	.masthead {
		position: fixed;
		top: 0;
	}
	.mastfoot {
		position: fixed;
		bottom: 0;
	}
	/* Start the vertical centering */
	.site-wrapper-inner {
		vertical-align: middle;
	}
	/* Handle the widths */
	.masthead,
	.mastfoot,
	.cover-container {
		width: 100%; /* Must be percentage or pixels for horizontal alignment */
	}
}

@media (min-width: 992px) {
	.masthead,
	.mastfoot,
	.cover-container {
		width: 700px;
	}
}
